<%- include('./partials/head.ejs')%>
  <body>
 <%- include('./partials/header') %>   

    <main class="contenedor__main">
   
      <h1 class="h1__principal"><%= title %></h1>
        

       

        <% noticias.forEach(noticia=>{%>
          
          <div class="contenedor__articulo">
            <a href="detalleNoticia/<%= noticia.id%>">
            <div class="contenedor__localidad">
              <p class="p__localidad" ><%= noticia.localidad %></p>
            </div>
            <p class="p__fecha"><%= noticia.fechaFormateada %></p>
            <img class="imagen__noticia" src="/public/images/<%= noticia.imagen %>" alt="">
            <h1 class="h1__titulo"><%= noticia.titulo %></h1>
            <h3 class="h3__epigrafe"><%= noticia.epigrafe %>  leer mas</h3>
          </a>   
        </div>
      
        <%})%>
    </main>
    <%- include('./partials/footer.ejs')%>
  </body>
</html>
