<%- include('./partials/head.ejs')%>
  <body>
 <%- include('./partials/header') %>
 <main class="contenedor__detalle__main">
  <div class="contenedor__detalle">
          
      <h1 class="detalle__h1__titulo"><%= secretaria.nombre_secretaria%></h1>
      
      <img class="detalle__imagen__noticia" src="/public/images/<%= secretaria.imagen_secretaria %>"  alt="">
      <p class="detalle__p__texto__informativo"><%= secretaria.descripcion_secretaria %></p>
</div>
 </main>
 <%- include('./partials/footer.ejs')%>
    
</body>
</html>